---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<h3
    class="font-semibold text-4xl text-black-2 text-center border-x-4 border-black px-5 min-w-[23z0px]"
>
    {title}
</h3>
