---
import CoctelInfo from "./components/CoctelInfo.astro";
import CoctelTitle from "../../CoctelTitle/CoctelTitle.astro";
---

<div class="flex flex-col items-center gap-6">
    <CoctelTitle title="Clásicos" />
    <div class="flex flex-col gap-10">
        <div class="flex justify-center gap-8 flex-wrap">
            <div class="flex items-center">
                <picture>
                    <img
                        src="/images/cocteles/daiquiri_frozen.png"
                        alt="Daiquiri de Durazno"
                    />
                </picture>
                <CoctelInfo
                    title="Daiquiri de durazno"
                    price={13}
                    description="Ron rubio, zumo de limón, azúcar y durazno en almíbar"
                    width="w-[200px]"
                />
            </div>
            <div class="flex items-center">
                <picture class="lgmd:order-1">
                    <img
                        src="/images/cocteles/piña_colada.png"
                        alt="Daiquiri de Piña"
                    />
                </picture>
                <CoctelInfo
                    title="Daiquiri de Piña"
                    price={15}
                    description="Ron, rodajas de piña, jugo de piña y crema de coco"
                    width="w-[200px]"
                />
            </div>
            <div class="flex items-center">
                <picture>
                    <img
                        src="/images/cocteles/algarrobina.png"
                        alt="Algarrobina"
                    />
                </picture>
                <CoctelInfo
                    title="Algarrobina"
                    price={15}
                    description="Pisco quebranta, leche, jarabe de goma y jalea de algarrobina"
                    width="w-[200px]"
                />
            </div>
        </div>
        <div class="flex justify-center gap-8 lg:flex-wrap">
            <div class="flex items-center">
                <CoctelInfo
                    title="Margarita"
                    price={13}
                    description="Tequila, triple sec y zumo de limón"
                    width="w-[200px]"
                />
                <picture>
                    <img src="/images/cocteles/margarita.png" alt="Margarita" />
                </picture>
            </div>
            <div class="flex items-center">
                <CoctelInfo
                    title="Maracuya Sour"
                    price={15}
                    description="Pisco quebranta, bitter angostura, zumo de limón y ginger ale"
                    width="w-[200px]"
                />
                <picture class="lgmd:-order-1">
                    <img src="/images/cocteles/chilcano.png" alt="Maracuya Sour" />
                </picture>
            </div>
            <div class="flex items-center">
                <CoctelInfo
                    title="Pisco Sour"
                    price={15}
                    description="Pisco quebranta, zumo de limón, jarabe de goma, clara de huevo y bitter angostura"
                    width="w-[200px]"
                />
                <picture>
                    <img
                        src="/images/cocteles/pisco_sour.png"
                        alt="Pisco Sour"
                    />
                </picture>
            </div>
        </div>
        <div class="flex justify-center gap-8 flex-wrap">
            <div class="flex items-center">
                <picture>
                    <img
                        src="/images/cocteles/daiquiri_frozen.png"
                        alt="Chilcano de Pisco"
                    />
                </picture>
                <CoctelInfo
                    title="Chilcano de Pisco"
                    price={10}
                    description="Ron rubio, zumo de limón, azúcar y durazno en almíbar"
                    width="w-[200px]"
                />
            </div>
            <div class="flex items-center">
                <picture class="lgmd:order-1">
                    <img
                        src="/images/cocteles/piña_colada.png"
                        alt="Chilcano de Maracuya"
                    />
                </picture>
                <CoctelInfo
                    title="Chilcano de Maracuya"
                    price={12}
                    description="Ron, rodajas de piña, jugo de piña y crema de coco"
                    width="w-[200px]"
                />
            </div>
            <div class="flex items-center">
                <picture>
                    <img
                        src="/images/cocteles/algarrobina.png"
                        alt="Chilcano de Menta"
                    />
                </picture>
                <CoctelInfo
                    title="Chilcano de Menta"
                    price={10}
                    description="Pisco quebranta, leche, jarabe de goma y jalea de algarrobina"
                    width="w-[200px]"
                />
            </div>
        </div>
    </div>
</div>
