---
import CoctelInfo from "./components/CoctelInfo.astro";
import CoctelTitle from "../../CoctelTitle/CoctelTitle.astro";


---

<div class="flex flex-col items-center gap-6">
    <CoctelTitle title="Especiales de la Casa" />
    <div class="flex justify-center gap-10 flex-wrap">
        <div class="flex items-center">
            <CoctelInfo
                title="Torre Maglou Suprema"
                price={70}
                description="Gin Royale, arándanos y agua tónica"
                width="w-[170px]"
            />
            <picture>
                <img
                    src="/images/cocteles/tanqueray_royale.png"
                    alt="Torre Maglou Suprema"
                />
            </picture>
        </div>
        <div class="flex items-center">
            <CoctelInfo
                title="Orgasmo Explícito"
                price={18}
                description="Gin Hendrick's, piel de pepino y agua tónica"
                width="w-[200px]"
            />
            <picture class="lgmd:-order-1">
                <img src="/images/cocteles/hendricks.png" alt="Orgasmo Explícito" />
            </picture>
        </div>
        <div class="flex items-center">
            <CoctelInfo
                title="Piña Colada"
                price={15}
                description="Gin Tanqueray Ten, piel de naranja y agua tónica"
                width="w-[200px]"
            />
            <picture>
                <img
                    src="/images/cocteles/tanqueray_ten.png"
                    alt="Piña Colada"
                />
            </picture>
        </div>
    </div>
</div>
