---
import CoctelTitle from "../../CoctelTitle/CoctelTitle.astro";
import CoctelInfo from "./components/CoctelInfo.astro";
---

<div class="flex flex-col flex-1 items-center gap-10">
    <CoctelTitle title="Old School" />
    <div class="flex flex-col items-center gap-10">
        <div class="flex items-center">
            <CoctelInfo
                title="Aperol Sprizt"
                price={29}
                description="Aperol, Prosecco agua c/n gas, naranja"
                width="w-[205px]"
            />
            <picture>
                <img
                    src="/images/cocteles/aperol_sprizt.png"
                    alt="Aperol Sprizt"
                />
            </picture>
        </div>
        <div class="flex items-center">
            <picture>
                <img src="/images/cocteles/negroni.png" alt="Negroni" />
            </picture>
            <CoctelInfo
                title="Negroni"
                price={28}
                description="Gin Tanqueray, Campari y Vermouth Rosso"
                width="w-[220px]"
            />
        </div>
        <div class="flex items-center">
            <CoctelInfo
                title="Moscow Mule"
                price={25}
                description="Vodka, ginger beer, limón y jarabe de kion"
                width="w-[230px]"
            />
            <picture>
                <img src="/images/cocteles/moscow_mule.png" alt="Moscow Mule" />
            </picture>
        </div>
    </div>
</div>
