<section
    class="flex flex-col items-center py-24 bg-black gap-[30px] xl:px-8 md:px-4 sm:gap-16"
>
    <article class="flex flex-col items-center gap-12">
        <h2 class="text-primary text-7xl font-bold md:text-6xl sm:text-5xl">
            Bienvenido
        </h2>
        <div class="w-[69%] lg:w-3/4 md:w-[90%]">
            <p
                class="text-secondary font-medium text-2xl text-center leading-[60px] md:text-xl md:leading-[50px] xsm:text-[20px]"
            >
                Te invitamos a nuestra sala de fiestas pública para que rockees
                el escenario junto con otros invitados. Para eventos privados,
                ofrecemos siete salas exclusivas en las que podrá divertirse y
                cantar con sus amigos sin que nadie le moleste. ¡Reserva ya tu
                sala!
            </p>
        </div>
    </article>
    <article class="flex gap-20 mt-14 lg:flex-col lg:items-center lg:mt-0">
        <picture class="w-[600px] lg:w-[70%] lg:order-1 md:w-[90%] xsm:w-full">
            <img
                src="/images/home/home_welcome_location.jpg"
                alt="Local MagLou Parcona"
            />
        </picture>
        <div class="flex flex-col gap-12 xsm:gap-16">
            <div class="flex flex-col gap-6 xsm:gap-10">
                <h3
                    class="text-primary font-semibold text-[54px] lg:text-center md:text-4xl xsm:text-[34px]"
                >
                    Ubicación
                </h3>
                <div
                    class="flex items-center gap-5 lg:justify-center xsm:flex-col"
                >
                    <iconify-icon
                        icon="carbon:location"
                        class="text-primary text-[50px] h-max"></iconify-icon>
                    <div class="flex flex-col gap-1 sm:text-center">
                        <span
                            class="text-secondary font-medium text-2xl md:text-xl sm:text-lg"
                            >Calle Cahuide 150</span
                        >
                        <span
                            class="text-secondary font-medium text-2xl md:text-xl sm:text-lg"
                            >Parcona</span
                        >
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-6 xsm:gap-10">
                <h3
                    class="text-primary font-semibold text-[54px] lg:text-center md:text-4xl xsm:text-[34px]"
                >
                    Horario de Apertura
                </h3>
                <div
                    class="flex items-center gap-5 lg:justify-center xsm:flex-col"
                >
                    <iconify-icon
                        icon="bi:clock"
                        class="text-primary text-[50px] h-max"></iconify-icon>
                    <div class="flex flex-col gap-1 sm:text-center">
                        <span
                            class="text-secondary font-medium text-2xl md:text-xl sm:text-lg"
                            >Lunes - Viernes: 6:00 pm - 2:00 am</span
                        >
                        <span
                            class="text-secondary font-medium text-2xl md:text-xl sm:text-lg xsm:leading-10"
                            >Sábados, Domingos y Feriados: 5:00 pm - 3:00 am</span
                        >
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
