---
const test = [1, 2, 3, 4, 5, 6, 7, 8, 9];
---

<div class="grid grid-cols-3 gap-6 w-full place-items-center">
    {
        test.map(() => (
            <picture class="max-w-[500px]">
                <img
                    src="images/home/home_hero_responsive.jpg"
                    class="aspect-square"
                    alt="asd"
                />
            </picture>
        ))
    }
</div>
