<article
    class="w-full py-20 px-28 max-w-[1920px] lgmd:py-14 lgmd:px-16 sm:py-10 sm:px-6"
>
    <div
        class="flex flex-col bg-white w-[600px] py-12 px-12 md:w-full sm:p-8 xsm:py-10 xsm:px-6"
    >
        <h3 class="text-tertiary font-semibold text-[19px] mb-12">
            Bar & Restaurante
        </h3>
        <h2 class="font-semibold text-5xl text-black-2 xsm:text-4xl">
            Nuestro Espacio
        </h2>
        <p
            class="font-medium text-pretty text-gray text-lg mt-8 leading-8 xsm:text-base xsm:mb-4"
        >
            En MagLou, te invitamos a sumergirte en un ambiente único y
            acogedor. Con un diseño pensado para cautivar, nuestro espacio
            ofrece la fusión perfecta entre la elegancia y la calidez, creando
            el escenario ideal donde la música cobra vida y cada visita se
            convierte en una experiencia memorable.
        </p>
        <div class="flex gap-4 mt-8 xsm:flex-col">
            <iconify-icon
                icon="fa6-solid:store"
                class="text-[28px] text-tertiary xsm:text-[22px]"
            ></iconify-icon>
            <div class="flex flex-col gap-3">
                <h4 class="font-semibold text-2xl">Ambiente Acogedor</h4>
                <p
                    class="font-medium text-pretty text-gray text-lg leading-8 xsm:text-base"
                >
                    Sumérgete en la calidez de nuestro entorno, diseñado para
                    hacerte sentir como en casa mientras disfrutas de la música
                    y los sabores.
                </p>
            </div>
        </div>
        <div class="flex gap-4 mt-7 xsm:flex-col">
            <iconify-icon
                icon="icon-park-solid:knife-fork"
                class="text-[28px] text-tertiary xsm:text-[22px]"
            ></iconify-icon>
            <div class="flex flex-col gap-3">
                <h4 class="font-semibold text-2xl">Exquisita Culinaria</h4>
                <p
                    class="font-medium text-pretty text-gray text-lg leading-8 xsm:text-base"
                >
                    Nuestra pasión por la gastronomía se refleja en cada plato.
                    Desde piqueos gourmet hasta platos principales
                    irresistibles, nuestro talentoso equipo culinario crea
                    delicias que complementan a la perfección la emoción del
                    karaoke.
                </p>
            </div>
        </div>
    </div>
</article>

<style>
    article {
        background-image: url(/images/about/feature_img_1.png);
        background-size: auto;
        background-repeat: repeat;
        background-position: center;
        background-attachment: fixed;
    }
</style>
