<article class="w-full py-20 px-28 max-w-[1920px] lgmd:py-14 lgmd:px-16 sm:py-10 sm:px-6">
    <div
        class="flex flex-col bg-white w-[600px] py-12 px-12 md:w-full sm:p-8 xsm:py-10 xsm:px-6"
    >
        <h3 class="text-tertiary font-semibold text-[19px] mb-12">
            Bar & Restaurante
        </h3>
        <h2 class="font-semibold text-5xl text-black-2 xsm:text-4xl">
            Nuestro Espacio
        </h2>
        <p class="font-medium text-gray text-lg mt-8 leading-8 xsm:text-base xsm:mb-4">
            En MagLou, disponemos de un entorno versátil que se adapta a tus
            gustos. Con tres espacios dedicados al karaoke y la música en vivo,
            además de un sector exclusivo para disfrutar de nuestras
            exquisiteces gastronómicas.
        </p>
        <div class="flex gap-4 mt-8 xsm:flex-col">
            <iconify-icon
                icon="fa6-solid:store"
                class="text-[28px] text-tertiary xsm:text-[22px]"></iconify-icon>
            <div class="flex flex-col gap-3">
                <h4 class="font-semibold text-2xl">Capacidad Vibrante</h4>
                <p class="font-medium text-gray text-lg leading-8 xsm:text-base">
                    Con capacidad para grupos de todos los tamaños, desde
                    celebraciones íntimas hasta eventos de mayor envergadura,
                    garantizamos un espacio acogedor y animado para cada ocasión
                    en MagLou.
                </p>
            </div>
        </div>
        <div class="flex gap-4 mt-7 xsm:flex-col">
            <iconify-icon
                icon="icon-park-solid:knife-fork"
                class="text-[28px] text-tertiary xsm:text-[22px]"></iconify-icon>
            <div class="flex flex-col gap-3">
                <h4 class="font-semibold text-2xl">Exquisita Culinaria</h4>
                <p class="font-medium text-gray text-lg leading-8 xsm:text-base">
                    Nuestra pasión por la gastronomía se refleja en cada plato.
                    Desde sabores auténticos hasta creaciones innovadoras,
                    nuestra cocina ofrece una experiencia culinaria única que
                    deleitará tus sentidos y superará tus expectativas.
                </p>
            </div>
        </div>
    </div>
</article>

<style>
    article {
        background-image: url(/images/about/feature_img_1.png);
        background-size: auto;
        background-repeat: repeat;
        background-position: center;
        background-attachment: fixed;
    }
</style>
