<article
    class="flex justify-end w-full py-20 px-28 max-w-[1920px] lgmd:py-14 lgmd:px-16 sm:py-10 sm:px-6"
>
    <div
        class="flex flex-col bg-white w-[600px] py-12 px-12 md:w-full sm:p-8 xsm:py-10 xsm:px-6"
    >
        <h3 class="text-tertiary font-semibold text-[19px] mb-12">
            Karaoke & Cocktails
        </h3>
        <h2 class="font-semibold text-5xl text-black-2 xsm:text-[34px]">
            Experiencia Musical y Coctelería
        </h2>
        <p
            class="font-medium text-pretty text-gray text-lg mt-8 leading-8 xsm:text-base xsm:mb-4"
        >
            Embárcate en una experiencia musical única en MagLou, donde la
            selección cuidadosa de canciones se fusiona con nuestra artesanía en
            coctelería. Deléitate con melodías envolventes mientras disfrutas de
            cócteles innovadores, creando una experiencia sensorial inigualable
            en cada nota y sorbo.
        </p>
        <div class="flex gap-4 mt-8 xsm:flex-col">
            <iconify-icon
                icon="majesticons:music"
                class="text-[28px] text-tertiary"></iconify-icon>
            <div class="flex flex-col gap-3">
                <h4 class="font-semibold text-2xl">Melodías Mágicas</h4>
                <p
                    class="font-medium text-pretty text-gray text-lg leading-8 xsm:text-base"
                >
                    Con una selección cuidadosa de canciones que abraza todos
                    los gustos, ofrecemos un ambiente donde la magia de la
                    música se entrelaza con la calidez de nuestro espacio
                    acogedor.
                </p>
            </div>
        </div>
        <div class="flex gap-4 mt-7 xsm:flex-col">
            <iconify-icon
                icon="streamline:cocktail-solid"
                class="text-[28px] text-tertiary"></iconify-icon>
            <div class="flex flex-col gap-3">
                <h4 class="font-semibold text-2xl">Sinfonía de Sabores</h4>
                <p
                    class="font-medium text-pretty text-gray text-lg leading-8 xsm:text-base"
                >
                    Cada trago es una nota única, combinando ingredientes
                    frescos con técnicas de mixología creativa. Deja que esta
                    sinfonía de sabores transforme tu experiencia en cada sorbo.
                </p>
            </div>
        </div>
    </div>
</article>

<style>
    article {
        background-image: url(/images/about/feature_img_2.png);
        background-size: auto;
        background-repeat: repeat;
        background-position: center;
        background-attachment: fixed;
    }
</style>
