---
import CoctelInfo from "../../CoctelInfo/CoctelInfo.astro";
import CoctelTitle from "../../CoctelTitle/CoctelTitle.astro";
---

<div class="flex flex-col items-center gap-6">
    <CoctelTitle title="Clásicos" />
    <div class="flex flex-col gap-10">
        <div class="flex justify-center gap-8 flex-wrap">
            <div class="flex items-center">
                <picture>
                    <img
                        src="/images/cocteles/daiquiri_frozen.png"
                        alt="Daiquiri Frozen"
                    />
                </picture>
                <CoctelInfo
                    title="Daiquiri Frozen"
                    price={20}
                    description="Ron rubio, zumo de limón, azúcar y durazno en almíbar"
                    width="w-[200px]"
                />
            </div>
            <div class="flex items-center">
                <picture class="lgmd:order-1">
                    <img
                        src="/images/cocteles/piña_colada.png"
                        alt="Piña Colada"
                    />
                </picture>
                <CoctelInfo
                    title="Piña Colada"
                    price={21}
                    description="Ron, rodajas de piña, jugo de piña y crema de coco"
                    width="w-[200px]"
                />
            </div>
            <div class="flex items-center">
                <picture>
                    <img
                        src="/images/cocteles/algarrobina.png"
                        alt="Algarrobina"
                    />
                </picture>
                <CoctelInfo
                    title="Algarrobina"
                    price={20}
                    description="Pisco quebranta, leche, jarabe de goma y jalea de algarrobina"
                    width="w-[200px]"
                />
            </div>
        </div>
        <div class="flex justify-center gap-8 lg:flex-wrap">
            <div class="flex items-center">
                <CoctelInfo
                    title="Margarita"
                    price={20}
                    description="Tequila, triple sec y zumo de limón"
                    width="w-[200px]"
                />
                <picture>
                    <img
                        src="/images/cocteles/margarita.png"
                        alt="Margarita"
                    />
                </picture>
            </div>
            <div class="flex items-center">
                <CoctelInfo
                    title="Chilcano"
                    price={18}
                    description="Pisco quebranta, bitter angostura, zumo de limón y ginger ale"
                    width="w-[200px]"
                />
                <picture class="lgmd:-order-1">
                    <img
                        src="/images/cocteles/chilcano.png"
                        alt="Chilcano"
                    />
                </picture>
            </div>
            <div class="flex items-center">
                <CoctelInfo
                    title="Pisco Sour"
                    price={18}
                    description="Pisco quebranta, zumo de limón, jarabe de goma, clara de huevo y bitter angostura"
                    width="w-[200px]"
                />
                <picture>
                    <img
                        src="/images/cocteles/pisco_sour.png"
                        alt="Pisco Sour"
                    />
                </picture>
            </div>
        </div>
    </div>
</div>
