---
import CoctelInfo from "../../CoctelInfo/CoctelInfo.astro";
import CoctelTitle from "../../CoctelTitle/CoctelTitle.astro";
---

<div class="flex flex-col items-center gap-6">
    <CoctelTitle title="Gin and Tonic Premium" />
    <div class="flex justify-center gap-10 flex-wrap">
        <div class="flex items-center">
            <CoctelInfo
                title="Tanqueray Royale"
                price={30.9}
                description="Gin Royale, ar치ndanos y agua t칩nica"
                width="w-[170px]"
            />
            <picture>
                <img
                    src="/images/cocteles/tanqueray_royale.png"
                    alt="Tanqueray Royale"
                />
            </picture>
        </div>
        <div class="flex items-center">
            <CoctelInfo
                title="Hendrick's"
                price={30.9}
                description="Gin Hendrick's, piel de pepino y agua t칩nica"
                width="w-[200px]"
            />
            <picture class="lgmd:-order-1">
                <img
                    src="/images/cocteles/hendricks.png"
                    alt="Hendrick's"
                />
            </picture>
        </div>
        <div class="flex items-center">
            <CoctelInfo
                title="Tanqueray Ten"
                price={30.9}
                description="Gin Tanqueray Ten, piel de naranja y agua t칩nica"
                width="w-[200px]"
            />
            <picture>
                <img
                    src="/images/cocteles/tanqueray_ten.png"
                    alt="Tanqueray Ten"
                />
            </picture>
        </div>
    </div>
</div>
