<section class="flex flex-col py-[156px] px-16 lg:px-12 md:px-6 md:pb-20 xsm:pb-12 xsm:px-0">
    <article class="flex flex-col gap-12 h-full w-full items-center justify-center pt-[200px] sm:pt-32 sm:gap-12">
        <h1 class="font-bold text-[82px] text-center text-white xl:text-[65px] lg:text-[58px] md:text-[46px] sm:text-[38px] xsm:text-[38px]">MAGLOU KARAOKE RESTOBAR</h1>
        <div class="flex gap-36 md:gap-14 sm:gap-6 xsm:px-2">
            <a href="/carta" class="btn-secondary">NUESTRA CARTA</a>
            <a href="https://wa.me/+51912379380" target="_blank" class="btn-secondary">PARA RESERVAR</a>
        </div>
    </article>
</section>

<style lang="scss">
    section {
        background-repeat: no-repeat;
        background-image: url(/images/home/home_hero.jpg);
        background-size: cover;
        background-position: center;
        @media (max-width: 747px) {
            background-image: url(/images/home/home_hero_responsive.jpg);
            background-size: cover;
            background-position: right;
        }
        @media (max-width: 500px) {
            background-size: unset;
        }
    }
</style>