<section class="flex flex-col items-center py-28 bg-white-2 gap-12 md:py-16">
    <h4 class="font-semibold text-tertiary text-[19px]">
        ¡Un festín de sabores en MagLou!
    </h4>
    <h2 class="font-bold text-black-3 text-6xl text-center lg:px-8 xsm:px-4 xsm:text-5xl">
        Explora Nuestra Carta y Deleita tu Paladar
    </h2>
    <div class="w-[55%] lg:w-[80%] xsm:w-[90%]">
        <p class="font-medium text-black-3 text-center text-xl leading-[50px]">
            Sumérgete en una experiencia culinaria inigualable con nuestro
            variado y tentador menú. Desde platos clásicos hasta creaciones
            innovadoras, cada bocado es una explosión de sabores. ¡Ven y
            disfruta de una experiencia gastronómica extraordinaria en MagLou!
        </p>
    </div>
    <a
        href="/carta"
        class="btn-primary text-tertiary text-xl py-4 px-20 hover:text-fourth before:border-tertiary after:border-fourth"
        >VER LA CARTA</a
    >
    <div class="flex gap-36 flex-wrap justify-center px-[19px] mt-10 xl:gap-24 lg:gap-y-16">
        <a href="/piqueos" class="flex flex-col items-center gap-6 -translate-y-24 lg:translate-y-0 lg:gap-2">
            <picture>
                <img
                    src="/images/home/home_piqueos.png"
                    alt="Piqueos"
                    class="w-[260px] duration-[400ms] hover:-translate-y-3"
                />
            </picture>
            <h3 class="font-semibold text-tertiary text-[34px]">Piqueos</h3>
        </a>
        <a href="/bebidas" class="flex flex-col items-center gap-6 duration-200 lg:gap-2">
            <picture>
                <img
                    src="/images/home/home_bebidas.png"
                    alt="Bebidas"
                    class="w-[260px] duration-[400ms] hover:-translate-y-3"
                />
            </picture>
            <h3 class="font-semibold text-tertiary text-[34px]">Bebidas</h3>
        </a>
        <a href="/combos" class="flex flex-col items-center gap-6 -translate-y-24 lg:translate-y-0 lg:gap-2">
            <picture>
                <img
                    src="/images/home/home_combos.png"
                    alt="Combos"
                    class="w-[260px] duration-[400ms] hover:-translate-y-3"
                />
            </picture>
            <h3 class="font-semibold text-tertiary text-[34px]">Combos</h3>
        </a>
    </div>
</section>
