---
import MenuPictures from "./components/MenuPictures.astro";
---

<section class="flex flex-col items-center py-28 bg-white-2 gap-12 md:py-16">
    <h4 class="font-semibold text-tertiary text-[19px]">
        ¡Un festín de sabores en MagLou!
    </h4>
    <h2
        class="font-bold text-black-3 text-6xl text-center lg:px-8 xsm:px-4 xsm:text-5xl"
    >
        Explora Nuestra Carta y Deleita tu Paladar
    </h2>
    <div class="w-[65%] lg:w-[80%] xsm:w-[90%]">
        <p
            class="font-medium text-black-3 text-center text-[22px] leading-[50px] text-pretty xsm:text-[20px]"
        >
            Explora nuestra carta de irresistibles placeres culinarios y bebidas
            en MagLou. Deleita tu paladar con piqueos exquisitos, desde alitas
            bbq hasta exquisitas hamburguesas, acompañados por una variedad de
            tragos, desde cócteles clásicos hasta creaciones únicas. Además,
            descubre nuestras emocionantes promociones, combinaciones perfectas
            para una experiencia inolvidable. ¡Disfruta la fusión de sabores en
            MagLou!
        </p>
    </div>
    <a
        href="/carta"
        class="btn-primary text-tertiary text-xl py-4 px-20 hover:text-fourth before:border-tertiary after:border-fourth"
        >VER LA CARTA</a
    >
    <MenuPictures />
</section>
