---
import CategoryCard from "@/components/menu/carta/CategoryCard.astro";
import Layout from "@/layouts/Layout.astro";

const CARD_CATEGORIES = [
    {
        image: "/images/carta/carta_piqueos.jpg",
        category: "Piqueos",
        description: "Deleita tu paladar con nuestra mejor selección.",
        menuButton: {
            path: "/piqueos",
            content: "Ver los piqueos",
        },
    },
    {
        image: "/images/carta/carta_bebidas.jpg",
        category: "Bebidas",
        description: "Bebidas con o sin alcohol, encuéntralo aquí.",
        menuButton: {
            path: "/bebidas",
            content: "Ver los tragos",
        },
    },
    {
        image: "/images/carta/carta_combos.jpg",
        category: "Combos",
        description:
            "Disfruta de nuestros packs diseñados para satisfacer todos los gustos.",
        menuButton: {
            path: "/combos",
            content: "Ver los combos",
        },
    },
];
---

<Layout footerWithMap>
    <section
        class="flex flex-col pt-[210px] pb-[100px] items-center gap-16 xl:px-6 sm:pt-[200px] sm:px-3 sm:gap-12"
    >
        <h1 class="font-bold text-black-2 text-6xl text-center sm:text-5xl">
            Nuestra Carta
        </h1>
        <article class="flex items-center justify-center flex-wrap gap-6">
            {
                CARD_CATEGORIES.map(
                    ({ image, category, description, menuButton }) => (
                        <CategoryCard
                            image={image}
                            category={category}
                            description={description}
                            menuButton={menuButton}
                        />
                    )
                )
            }
        </article>
    </section>
</Layout>
