---
import SectionMenu from "@/components/menu/SectionMenu.astro";
import SectionMenuCategory from "@/components/menu/SectionMenuCategory.astro";
import ComboList from "@/components/menu/combos/ComboList.astro";
import Layout from "@/layouts/Layout.astro";

const COMBOS = [
    {
        categoryName: "Ron",
        comboList: [
            {
                comboTitle: "Combo Ron 750ML",
                comboDescription:
                    "Ron Cartavio 750ML + Jarra de Gaseosa + Hielo",
                comboImg: "/images/combos/combo_1.jpg",
                comboPrice: 70,
            },
            {
                comboTitle: "Combo Ron 1LT",
                comboDescription:
                    "Ron Cartavio 1LT + Jarra de Gaseosa + Hielo",
                comboImg: "/images/combos/combo_2.jpg",
                comboPrice: 90,
            },
            {
                comboTitle: "Combo Flor de Caña",
                comboDescription:
                    "Flor de Caña 4 años + Jarra de Gaseosa + Hielo",
                comboImg: "/images/combos/combo_2.jpg",
                comboPrice: 120,
            },
        ],
    },
    {
        categoryName: "Whisky",
        comboList: [
            {
                comboTitle: "Combo Red Label",
                comboDescription:
                    "Red Label Johnnie Walker + Jarra de Gaseosa + Hielo",
                comboImg: "/images/combos/combo_1.jpg",
                comboPrice: 130,
            },
            {
                comboTitle: "Combo Black Label",
                comboDescription:
                    "Black Label Johnnie Walker + Jarra de Evervess o 2 Red Bull + Hielo",
                comboImg: "/images/combos/combo_2.jpg",
                comboPrice: 220,
            },
            {
                comboTitle: "Combo Golden Label",
                comboDescription:
                    "Golden Label Johnnie Walker + Jarra de Evervess + 2 Red Bull + Hielo",
                comboImg: "/images/combos/combo_2.jpg",
                comboPrice: 400,
            },
            {
                comboTitle: "Combo Blue Label",
                comboDescription:
                    "Blue Label Johnnie Walker + Coca Cola 2.5LT + 6 Red Bull + Hielo",
                comboImg: "/images/combos/combo_1.jpg",
                comboPrice: 1200,
            },
            {
                comboTitle: "Combo Old Parr",
                comboDescription:
                    "Old Parr 12 años + 4 Red Bull + Hielo + 2 Aguas",
                comboImg: "/images/combos/combo_1.jpg",
                comboPrice: 250,
            },
        ],
    },
    {
        categoryName: "Vodka",
        comboList: [
            {
                comboTitle: "Combo Smirnoff Manzana",
                comboDescription:
                    "Vodka Smirnoff de manzana + Jarra de Tampico + Hielo",
                comboImg: "/images/combos/combo_2.jpg",
                comboPrice: 80,
            },
            {
                comboTitle: "Combo Smirnoff Limón",
                comboDescription:
                    "Vodka Smirnoff de limón + Jarra de Evervess + Hielo",
                comboImg: "/images/combos/combo_2.jpg",
                comboPrice: 80,
            },
        ],
    },
    {
        categoryName: "Jagger",
        comboList: [
            {
                comboTitle: "Combo Jagger",
                comboDescription: "Jagger + Jarra de Tampico + Hielo",
                comboImg: "/images/combos/combo_2.jpg",
                comboPrice: 150,
            },
        ],
    },
    {
        categoryName: "Tequila",
        comboList: [
            {
                comboTitle: "Combo Tequila",
                comboDescription:
                    "Tequila José Cuervo + Rodajas de limón + Sal",
                comboImg: "/images/combos/combo_2.jpg",
                comboPrice: 120,
            },
        ],
    },
];
---

<Layout mainBgColor="main-gradient">
    <div class="h-[200px]"></div>
    <SectionMenu>
        <SectionMenuCategory
            category="Combos"
            rhombusW="w-[110px]"
            rhombusH="h-[110px]"
        />
        <div class="flex flex-col w-full items-center gap-36 mt-[40px] xsm:gap-[88px]">
            {
                COMBOS.map(({ comboList, categoryName }) => (
                    <ComboList
                        comboList={comboList}
                        categoryName={categoryName}
                    />
                ))
            }
        </div>
    </SectionMenu>
    <div class="h-[120px] xsm:hidden"></div>
</Layout>
