---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <div class="flex flex-col h-[1000px] pt-[200px] bg-black">
        <h1 class="text-8xl text-red-600">Hola</h1>
        <h2 class="text-6xl text-red-600">mundo</h2>
    </div>
</Layout>