---
import BarRestaurant from "./components/BarRestaurant.astro";
import KaraokeCoctails from "./components/KaraokeCoctails.astro";
---

<section class="flex flex-col items-center">
    <BarRestaurant />
    <KaraokeCoctails />
</section>