@font-face {
    font-family: "BrandingSF";
    src: local("BrandingSF"), url("../font/BrandingSF-SemiLight.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "BrandingSF";
    src: local("BrandingSF"), url("../font/BrandingSF-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "BrandingSF";
    src: local("BrandingSF"), url("../font/BrandingSF-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "BrandingSF";
    src: local("BrandingSF"), url("../font/BrandingSF-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "BrandingSF";
    src: local("BrandingSF"), url("../font/BrandingSF-Black.ttf");
    font-weight: 900;
}
@font-face {
    font-family: "BeyondInfinity";
    src: local("BeyondInfinity"), url("../font/BeyondInfinity.ttf");
    font-weight: 400;
}
:root {
    --black: #000;
    --black-2: #0a0a0a;
    --white: #fff;
    --primary: #f9dbb5;
    --secondary: #fff5e7;
    --tertiary: #a16a41;
    --fourth: #5c150e;
}
* {
    font-family: "BrandingSF", sans-serif;
    box-sizing: border-box;
}
ul,
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
*::selection {
    color: var(--white);
    background: var(--tertiary);
}
