---
import SectionMenu from "@/components/menu/SectionMenu.astro";
import CoctelList from "./components/components/CoctelList.astro";

const HOUSE_SPECIALTIES = {
    coctelTitle: "Especiales de la Casa",
    coctels: [
        {
            name: "Torre Maglou Suprema",
            price: 70,
            description: "Vino tinto, zumo de maracuyá, jarabe de goma, Ginger ale",
            textWidth: "w-[200px]",
            image: "/images/cocteles/tinto_verano.png",
        },
        {
            name: "Orgasmo Explícito",
            price: 18,
            description: "Vino tinto, zumo de maracuyá, jarabe de goma, Ginger ale",
            textWidth: "w-[200px]",
            imageWidth: "w-[130px]",
            image: "/images/cocteles/orgasmo_explicito.png",
        },
        {
            name: "Piña Colada",
            price: 15,
            description: "Vino tinto, zumo de maracuyá, jarabe de goma, Ginger ale",
            textWidth: "w-[200px]",
            image: "/images/cocteles/piña_colada.png",
        },
    ]
}

const CLASSICS = {
    coctelTitle: "Clásicos",
    coctels: [
        {
            name: "Daiquiri de Durazno",
            price: 13,
            description: "Vino tinto, zumo de maracuyá, jarabe de goma, Ginger ale",
            textWidth: "w-[200px]",
            image: "/images/cocteles/daiquiri_durazno.png",
        },
        {
            name: "Daiquiri de Piña",
            price: 15,
            description: "Vino tinto, zumo de maracuyá, jarabe de goma, Ginger ale",
            textWidth: "w-[200px]",
            imageWidth: "w-[160px]",
            image: "/images/cocteles/daiquiri_piña.png",
        },
        {
            name: "Algarrobina",
            price: 15,
            description: "Vino tinto, zumo de maracuyá, jarabe de goma, Ginger ale",
            textWidth: "w-[200px]",
            image: "/images/cocteles/algarrobina.png",
        },
        {
            name: "Margarita",
            price: 13,
            description: "Vino tinto, zumo de maracuyá, jarabe de goma, Ginger ale",
            textWidth: "w-[200px]",
            imageWidth: "w-[150px]",
            image: "/images/cocteles/margarita2.png",
        },
        {
            name: "Pisco Sour",
            price: 15,
            description: "Vino tinto, zumo de maracuyá, jarabe de goma, Ginger ale",
            textWidth: "w-[200px]",
            image: "/images/cocteles/pisco_sour.png",
        },
        {
            name: "Maracuya Sour",
            price: 15,
            description: "Vino tinto, zumo de maracuyá, jarabe de goma, Ginger ale",
            textWidth: "w-[200px]",
            imageWidth: "w-[105px]",
            image: "/images/cocteles/maracuya_sour.png",
        },
        {
            name: "Chilcano de Pisco",
            price: 10,
            description: "Vino tinto, zumo de maracuyá, jarabe de goma, Ginger ale",
            textWidth: "w-[200px]",
            image: "/images/cocteles/chilcano_pisco.png",
        },
        {
            name: "Chilcano de Maracuya",
            price: 12,
            description: "Vino tinto, zumo de maracuyá, jarabe de goma, Ginger ale",
            textWidth: "w-[200px]",
            imageWidth: "w-[90px]",
            image: "/images/cocteles/chilcano_maracuya.png",
        },
        {
            name: "Chilcano de Menta",
            price: 10,
            description: "Vino tinto, zumo de maracuyá, jarabe de goma, Ginger ale",
            textWidth: "w-[200px]",
            image: "/images/cocteles/tinto_verano.png",
        },
        {
            name: "Peni Loco",
            price: 15,
            description: "Vino tinto, zumo de maracuyá, jarabe de goma, Ginger ale",
            textWidth: "w-[200px]",
            image: "/images/cocteles/tinto_verano.png",
        },
        {
            name: "Machu Picchu",
            price: 12,
            description: "Vino tinto, zumo de maracuyá, jarabe de goma, Ginger ale",
            textWidth: "w-[200px]",
            imageWidth: "w-[150px]",
            image: "/images/cocteles/machupicchu.png",
        },
        {
            name: "Coctel de Durazno",
            price: 15,
            description: "Vino tinto, zumo de maracuyá, jarabe de goma, Ginger ale",
            textWidth: "w-[200px]",
            imageWidth: "w-[125px]",
            image: "/images/cocteles/coctel_durazno.png",
        },
        {
            name: "Orgasmo Clásico",
            price: 15,
            description: "Vino tinto, zumo de maracuyá, jarabe de goma, Ginger ale",
            textWidth: "w-[200px]",
            imageWidth: "w-[130px]",
            image: "/images/cocteles/orgasmo.png",
        },
        {
            name: "Piscina",
            price: 15,
            description: "Vino tinto, zumo de maracuyá, jarabe de goma, Ginger ale",
            textWidth: "w-[200px]",
            imageWidth: "w-[125px]",
            image: "/images/cocteles/piscina_exotico.png",
        },
        {
            name: "Mojito Clásico",
            price: 12,
            description: "Vino tinto, zumo de maracuyá, jarabe de goma, Ginger ale",
            textWidth: "w-[200px]",
            imageWidth: "w-[150px]",
            image: "/images/cocteles/mojito_clasico.png",
        },
        {
            name: "Mojito de Maracuyá",
            price: 15,
            description: "Vino tinto, zumo de maracuyá, jarabe de goma, Ginger ale",
            textWidth: "w-[200px]",
            imageWidth: "w-[160px]",
            image: "/images/cocteles/mojito_maracuya.png",
        },
        {
            name: "Cuba Libre",
            price: 10,
            description: "Vino tinto, zumo de maracuyá, jarabe de goma, Ginger ale",
            textWidth: "w-[200px]",
            imageWidth: "w-[110px]",
            image: "/images/cocteles/cuba_libre.png",
        },
        {
            name: "Pisco Sunrise",
            price: 10,
            description: "Vino tinto, zumo de maracuyá, jarabe de goma, Ginger ale",
            textWidth: "w-[200px]",
            imageWidth: "w-[130px]",
            image: "/images/cocteles/pisco_sunrise.png",
        },
        {
            name: "Sex On The Beach",
            price: 10,
            description: "Vino tinto, zumo de maracuyá, jarabe de goma, Ginger ale",
            textWidth: "w-[200px]",
            image: "/images/cocteles/sexonthebeach.png",
        },
    ]
}

const JARS = {
    coctelTitle: "Jarras",
    coctels: [
        {
            name: "Chilcano de Maracuyá",
            price: 30,
            description: "Vino tinto, zumo de maracuyá, jarabe de goma, Ginger ale",
            textWidth: "w-[170px]",
            image: "/images/cocteles/tinto_verano.png",
        },
        {
            name: "Chilcano de Pisco",
            price: 25,
            description: "Vino tinto, zumo de maracuyá, jarabe de goma, Ginger ale",
            textWidth: "w-[200px]",
            image: "/images/cocteles/tinto_verano.png",
        },
        {
            name: "Mojito Clásico",
            price: 30,
            description: "Vino tinto, zumo de maracuyá, jarabe de goma, Ginger ale",
            textWidth: "w-[200px]",
            image: "/images/cocteles/tinto_verano.png",
        },
        {
            name: "Cuba Libre",
            price: 25,
            description: "Vino tinto, zumo de maracuyá, jarabe de goma, Ginger ale",
            textWidth: "w-[200px]",
            image: "/images/cocteles/tinto_verano.png",
        },
        {
            name: "Sex On The Beach",
            price: 25,
            description: "Vino tinto, zumo de maracuyá, jarabe de goma, Ginger ale",
            textWidth: "w-[200px]",
            image: "/images/cocteles/tinto_verano.png",
        },
        {
            name: "Piscina",
            price: 35,
            description: "Vino tinto, zumo de maracuyá, jarabe de goma, Ginger ale",
            textWidth: "w-[200px]",
            image: "/images/cocteles/tinto_verano.png",
        },
    ]
}
---

<SectionMenu>
    <h2 class="font-semibold text-6xl pb-20">Cócteles</h2>
    <div class="flex flex-col gap-16">
        <CoctelList {...HOUSE_SPECIALTIES} />
        <CoctelList {...CLASSICS} />
        <CoctelList {...JARS} />
    </div>
</SectionMenu>
