---
import { Image } from "astro:assets";
import logo from "src//images/logo.png";

interface Props {
    withMap?: boolean;
}
const { withMap } = Astro.props;
---

<footer class="flex flex-col bg-black-3">
    <article
        class="flex w-full justify-center font-semibold py-16 text-lg md:flex-col md:items-center md:gap-12 md:pt-20 md:pb-12"
    >
        <div class="flex flex-col text-center gap-5 w-[30%] md:w-full">
            <h5 class="text-white">Teléfonos</h5>
            <div class="flex flex-col gap-2">
                <span class="text-primary">933 819 130</span>
                <span class="text-primary">961 698 404</span>
            </div>
        </div>
        <div
            class="flex flex-col items-center gap-6 w-[30%] md:order-first md:w-full"
        >
            <picture>
                <Image src={logo} alt="MagLou Logo" class="w-[145px]" />
            </picture>
            <p class="text-white text-center">
                Calle Cahuide 150,<br /> Parcona
            </p>
            <ul class="flex gap-8 text-white text-3xl">
                <li>
                    <a
                        href="https://www.instagram.com/magloukaraokerestobar/"
                        target="_blank"
                        class="flex p-2 rounded-full duration-500 hover:bg-primary hover:text-black-2"
                    >
                        <iconify-icon icon="mdi:instagram"></iconify-icon>
                    </a>
                </li>
                <li>
                    <a
                        href="https://www.facebook.com/profile.php?id=61556087241794"
                        target="_blank"
                        class="flex p-2 rounded-full duration-500 hover:bg-primary hover:text-black-2"
                    >
                        <iconify-icon icon="la:facebook-f"></iconify-icon>
                    </a>
                </li>
                <li>
                    <a
                        href="https://wa.me/+51933819130"
                        target="_blank"
                        class="flex p-2 rounded-full duration-500 hover:bg-primary hover:text-black-2"
                    >
                        <iconify-icon icon="ic:baseline-whatsapp"
                        ></iconify-icon>
                    </a>
                </li>
                <li>
                    <a
                        href="https://www.tiktok.com/@magloukaraokerestobar"
                        target="_blank"
                        class="flex p-2 rounded-full duration-500 hover:bg-primary hover:text-black-2"
                    >
                        <iconify-icon icon="ic:baseline-tiktok"></iconify-icon>
                    </a>
                </li>
            </ul>
        </div>
        <div class="flex flex-col text-center gap-5 w-[30%] md:w-full">
            <h5 class="text-white">Abierto:</h5>
            <div class="flex flex-col text-primary">
                <span>Lunes - Viernes y Domingo</span>
                <span>6:00 pm - 2:00 am</span>
            </div>
            <div class="flex flex-col text-primary mt-2">
                <span>Sábado</span>
                <span>6:00 pm - 4:00 am</span>
            </div>
        </div>
    </article>
    {
        withMap && (
            <article class="flex flex-col items-center gap-6 pb-20">
                <h5 class="text-white font-semibold text-lg">
                    Nos encuentras en:
                </h5>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d967.6136688103852!2d-75.70240041031562!3d-14.050307499609337!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91111d4e2a584565%3A0x896ff8d10bb3dbfb!2sW7XX%2BR4H%2C%20Ica%2011003!5e0!3m2!1ses-419!2spe!4v1703579698068!5m2!1ses-419!2spe"
                    width="1280"
                    height="450"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                    class="w-[90%] lg:w-[95%]"
                />
            </article>
        )
    }
    <footer class="text-center border-t-2 border-[#3A3B3A] py-6 sm:p-6">
        <h4 class="text-white font-semibold text-lg">
            © 2024 MagLou Karaoke Restobar | Todos los derechos reservados
        </h4>
    </footer>
</footer>
