<header class="flex flex-col items-center gap-8 px-[20px] w-full md:gap-8 sm:gap-4">
    <div class="flex justify-center items-center gap-14 w-full md:gap-6">
        <hr class="h-[2px] w-[200px] bg-secondary lg:w-full">
        <h2 class="text-6xl font-bold w-fit text-primary text-center lg:w-min md:text-5xl">Mantente Conectado</h2>
        <hr class="h-[2px] w-[200px] bg-secondary lg:w-full">
    </div>
    <h3 class="text-secondary text-xl text-center md:text-xl">#MagLouKaraokeRestobar</h3>
</header>