---
import GalleryHeader from "./components/GalleryHeader.astro";
import ImageList from "./components/ImageList.astro";
import ImageListHeader from "./components/ImageListHeader.astro";
---

<section class="flex flex-col items-center bg-black py-20 gap-20">
    <GalleryHeader />
    <article class="flex flex-col items-center px-36 gap-10 max-w-[1920px]">
        <ImageListHeader />
        <ImageList />
    </article>
</section>