<section class="relative flex justify-center items-center h-[550px] w-full object-cover">
    <h1 class="text-8xl text-white-2 font-bold text-center z-[1] pt-20 xsm:text-6xl">Sobre Nosotros</h1>
</section>

<style lang="scss">
    section {
        background-repeat: no-repeat;
        background-image: url(/images/about/about_hero.avif);
        background-size: cover;
        background-position: center;
        @media (max-width: 747px) {
            background-size: cover;
        }
        @media (max-width: 500px) {
        }
    }
    section::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }
</style>