---
import Footer from '../components/Footer/Footer.astro';
import Header from '../components/Header/Header.astro';
interface Props {
	title?: string;
	footerWithMap?: boolean;
}

const { title = "MagLou", footerWithMap } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="/styles/customize.css" />
        <link rel="stylesheet" href="/src/styles.css" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<section class="w-full h-[1000px]"></section>
		<Footer withMap={footerWithMap} />
		<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
	</body>
</html>
