---
interface Props {
    comboTitle: string;
    comboImg: string;
    comboPrice?: number;
}

const { comboTitle, comboImg, comboPrice } = Astro.props as Props;
---

<div
    class="combo flex items-center justify-center gap-16 lgmd:flex-col lgmd:gap-10"
>
    <picture class="pic-photo max-w-[630px] lgmd:-order-1 xsm:max-w-[290px]"
        ><img src={comboImg} alt="Imagen Combo" /></picture
    >
    <div class="flex flex-col items-center gap-6 lgmd:-order-2 xsm:max-w-[90%]">
        <h2
            class="font-medium text-5xl text-black-2 text-center max-w-[350px] lg:text-4xl xsm:text-3xl"
        >
            {comboTitle}
        </h2>
        {
            comboPrice && (
                <>
                    <hr class="h-[3px] w-full bg-black" />
                    <h3 class="font-bold text-5xl text-center lg:text-4xl  xsm:text-3xl">
                        {comboPrice.toFixed(2)}
                    </h3>
                </>
            )
        }
    </div>
</div>
